***,F+H2 
! $F$ : basename to be substituted
! $R$ : record name
! $S$ : starting record name if it is available
file,2,$F$.wfu
punch,$F$.pun

basis=aug-cc-pvtz;

symmetry,nosym
orient,noorient
geometry=$F$.xyz

{mcscf;
occ,11;closed,1;
wf,11,1,1;state,3;
maxiter,40;
start,$S$;
orbital,$R$;}

$resvars = [E1,E2,E3]

show,energy
table,resvars,energy
save,$F$.res,new
title 'results: Energies ---  $F$'
