***,F+H2
! $F$ : basename to be substituted
file,2,$F$.wfu

basis=6-31G*

symmetry,x

geometry=$F$.xyz

{mcscf;occ,9,2;closed,1,0;wf,11,1,1;state,2;maxiter,40;
start,2901.2;orbital,2901.2}
show,energy
table,energy
save,$F$.res
title 'results: Energies ---  $F$'