# PESMan configuration file

# specify data bases names 
[DataBase]
DB = no2.db
Nbr = no2_nbr.db

[Log]
LogFile = PESMan.log

# specify the directory names
[Directories]
PESDir = GeomData
ExpDir = ExpDir
RunDir = RunDir
ImpDir = ImpDir


# put your calculation type names and their corresponding 
#put multiple names seperated by comma
# desc field is not necessary
[CalcTypes]
type = multiana
template = multiana.template
#desc =


[molInfo]
scrDir = /tmp/test
proc = 2
# put any extra keywords seperated by comma
extra = --no-xml-output
