# PESMan configuration file
# If this file is missing, the options need to be given explicitly on command line.

# section to specify data bases
# the main and neighbour data base
[DB]
Main = no2db.db
Nbr  = fh2db-nbr.db

# section to specify PES data
# the directory where PES data is stored
[PESDATA]
PESDir = GeomData

# section to control export
[EXPORT]
# the default directory where exports should go
ExpDir = ExpDir

# section to control import
[IMPORT]
check = on
