# PESMan configuration file

# specify data bases names 
[DataBase]
DB = no2db.db
Nbr = no2-nbr.db


# specify the directory names
[Directories]
PESDir = GeomData
ExpDir = ExpDir
RunDir = RunDir
ImpDir = ImpDir


# put your calculation type names and their corresponding 
#put multiple names seperated by comma
# desc field is not necessary
[CalcTypes]
type = multi, ananact
template = multi-no2-pes.template, multiana.template 
#desc =


[molInfo]
scrDir = ''
proc = 
# put any extra keywords seperated by comma
extra = --no-flush6, --no-xml-output