# PESMan configuration file

# specify data bases names 
[DataBase]
DB = heh2+db.db
Nbr = heh2+db_nbr.db


# specify the directory names
[Directories]
PESDir = GeomData
ExpDir = ExpDir
RunDir = RunDir
ImpDir = ImpDir


# put your calculation type names and their corresponding 
#put multiple names seperated by comma
# desc field is not necessary
[CalcTypes]
type = multi, ananact
template = multi-heh2-pes.template, mrci-heh2-pes.template 
#desc =


[molInfo]
scrDir = '/tmp/test'
proc = 2
# put any extra keywords seperated by comma
extra = --no-flush6, --no-xml-output
